{% extends 'base.html.twig' %}

{% block title %}Nouvelle congélation{% endblock %}

{% block body %}

{{form_start(form)}}

{{ form_end(form) }}


<a href="{{ path('app_congelation') }}">← Retour au suivi</a>

{% endblock %}