{% extends 'base.html.twig' %}

{% block title %}Traçabilité{% endblock %}

{% block body %}

<h2>Ajouter une nouvelle traçabilité</h2>

    <div>
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_widget(form) }}
            
           
        {{ form_end(form) }}
    </div>



<a href="{{ path('app_tracabilite') }}">← Retour au suivi</a>




{% endblock %}