{% extends 'base.html.twig' %}

{% block title %}Traçabilité{% endblock %}

{% block body %}
<section class="section">

    <h1>Traçabilité</h1>

    <p>Cette page vous permet d'ajouter une nouvelle traçabilité.</p>

    <div>
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_widget(form) }}
            
           
        {{ form_end(form) }}
    </div>

</section>



<a href="{{ path('app_tracabilite') }}">← Retour au suivi</a>




{% endblock %}