{% extends 'base.html.twig' %}

{% block title %}Nouvelle température{% endblock %}

{% block body %}
<section class="section">
    <div class="form">
        <h1>Ajouter une nouvelle température</h1>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</section>

<a href="{{ path('app_temperature') }}">← Retour au suivi</a>

{% endblock %}
