{% extends 'base.html.twig' %}

{% block title %}Historique des fabrications{% endblock %}

{% block body %}
<div class="container section">
    <h1>Historique des fabrications</h1>

    {% if fabrications is empty %}
        <p class="para">Aucune fabrication enregistrée.</p>
    {% else %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Produit</th>
                    <th>Durée (H)</th>
                </tr>
            </thead>
            <tbody>
                {% for fabrication in fabrications %}
                    <tr>
                        <td>{{ fabrication.date|date('d/m/Y H:i') }}</td>
                        <td>{{ fabrication.produit.nom }}</td>
                        <td>{{ fabrication.dureeConsomation.duree }} H </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a class="btn-link" href="{{ path('app_fabrication') }}">← Retour au suivi</a>
</div>
{% endblock %}
